.portfolio-header-top {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cde9fa7f;
}

.header-picture {
  margin: 0 auto;
  height: 224px;
  width: 140px;
  border: 8px solid #e0c870;
  border-radius: 21%;
}

.header-picture img {
  border-radius: 20%
}

.portfolio {
  font-family: "Work Sans", sans-serif;
  background-image: linear-gradient(#f0f7da, #cde9fa);
  padding-bottom: 8em;
}

.portfolio-header-container {
  text-align: center;
  width: 100%;
}

.header-text {
  padding: 1em;
  font-size: 1.5rem;
  width: 60%;
  color: #092c12;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.social-media-links {
  font-size: 32px;
  /* margin: 1em; */
}

.social-media-links a {
  color: #092c12;
}
.social-media-links i {
  margin: 0 25px;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.portfolio-item {
  display: flex;
  margin: 0.5rem;
  background-color:#f3e7879f;
  border-radius: 2em;
  box-shadow: 0.6em 0.6em 0.5em -0.6em rgba(19, 46, 3, 0.1);
  border: 0 solid black;
  transition: background-color 0.2s;
}

.portfolio-item:hover {
  background-color:#f3e787;
}

.portfolio-item-image {
  margin: 1em;
  border-radius: 2em;
}

.portfolio-item-image img {
  border-radius: 1em;
}

.portfolio-item-text {
  padding: 0 2em;
  text-align: left;
}

i {
  transition: color 0.5s;
}

i:hover {
  color: grey;
}

@media (max-width: 1280px) {
  .portfolio-item {
    display: block;
  }

  .portfolio-item-image {
    padding-top: 1em;
  }
  .portfolio-item-text {
    padding-bottom: 2em;
  }
}
