.header-picture {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  border: 8px solid #e0c870;
  border-radius: 150px;
}

.header-picture::before {
  content: "";
  display: inline-block;
  margin: 0 auto;
  height: 292px;
  width: 292px;
  border: 8px solid #cfa64c;
  border-radius: 150px;
  position: absolute;
}

.header-picture img {
  border-radius: 50%
}

.portfolio {
  font-family: "Work Sans", sans-serif;
  background-image: linear-gradient(#f0f7da, #cde9fa);
  padding-bottom: 8em;
}

.portfolio-header-container {
  text-align: center;
  width: 100%;
}

.header-text {
  margin: 50px 20%;
  font-size: 32px;
  width: 60%;
  color: #092c12;
}

.social-media-links {
  font-size: 32px;
  /* margin: 1em; */
}

.social-media-links a {
  color: #092c12;
}
.social-media-links i {
  margin: 0 25px;
}

.portfolio-item {
  display: flex;
  margin: 2em 25%;
  background-color:rgba(240,247,218,0.4);
  border-radius: 2em;
  box-shadow: 0.6em 0.6em 0.5em -0.6em rgba(19, 46, 3, 0.1);
  border: 0 solid black;
  transition: background-color 0.2s;
}

.portfolio-item:hover {
  background-color:rgba(211, 218, 153, 0.6);
}

.portfolio-item-image {
  margin: 1em;
  border-radius: 2em;
}

.portfolio-item-image img {
  border-radius: 1em;
}

.portfolio-item-text {
  padding: 0 2em;
  text-align: left;
}

i {
  transition: color 0.5s;
}

i:hover {
  color: grey;
}

@media (max-width: 1280px) {
  .portfolio-item {
    display: block;
  }

  .portfolio-item-image {
    padding-top: 1em;
  }
  .portfolio-item-text {
    padding-bottom: 2em;
  }
}
